:root {
  --black: #fff;
  --white: #000;
  --yellow: #b200ae;

  --xs: calc(var(--n) / 2);
  --s: calc(var(--n) - .35rem);
  --n: 1rem;
  --m: calc(var(--n) * 1.5);
  --l: calc(var(--n) * 1.75);
  --xl: calc(var(--n) * 2);
  --xxl: calc(var(--n) * 4);
  --xxxl: calc(var(--n) * 8);
}

:root:has(label.color input:checked) {
  --white: #fff;
  --black: #000;
  --yellow: #f2e313;
}

:root:has(label.color input:not(:checked)) section.logo svg {
  filter: invert(1);
}

:root:has(label.color input:not(:checked)) label:has(input:focus-visible)::before {
  filter: drop-shadow(0px 0px 4px var(--yellow));
}

@font-face {
  font-family: 'MyFont';
  src: url('fonts/NimbusMono-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



/* general*/

html,
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100dvw;
  margin: 0;
  background: var(--black);
  overflow: hidden;
}

button,
input,
span,
p {
  font-family: 'NimbusMono-Regular';
  font-size: .9rem;
  font-size: clamp(.8rem, 1vw, 1rem);
  background: transparent;
  color: var(--white);
}

section.logo {
  position: absolute;
  bottom: var(--n);
  right: var(--n);
  width: 40px;
}

section.logo svg {
  width: 100%;
  height: auto;
  fill: var(--white);
}



/* input section */

section.input {
  position: absolute;
  top: var(--xxxl);
  right: 50%;
  transform: translate(50%, 0);
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: .5px solid var(--white);
  border-bottom: none;
}

.options-container,
.label-container {
  width: 100%;
  display: flex;
}

input,
label {
  width: 100%;
  height: var(--xl);
  padding: 0 var(--n);
  border: none;
  border-bottom: .5px solid var(--white);
  outline: none;
}

label:has(input:focus-visible)::before {
  filter: drop-shadow(0px 0px 2px var(--white));
}

button:focus-visible {
  outline: none !important;
  box-shadow: 0 0 0 .5px var(--white);
}

input::placeholder {
  color: var(--white);
  opacity: .5;
}

input:not(#questionInput),
label {
  border-right: .5px solid var(--white);
}

.options-container > input:last-child,
label:last-child {
  border-right: none !important;
}

label {
  position: relative;
  padding: unset;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: .8rem;
  font-size: clamp(.8rem, 1vw, 1rem);
}

label input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

label.hide::before {
  content: "(˶ ᵕ ᴗ ᵕ)";
  color: var(--white);
}

label.hide:has(input:checked)::before{
  content: "(ᵕ • ᴗ •)";
}

label.color::before {
  content: "⊹˚.";
}

label.color input:checked + * {
  color: var(--black)
}

button {
  padding: var(--xs) var(--n);
  border: .5px solid var(--white);
  background: var(--black);
  cursor: pointer;
  z-index: 10;
}

button:hover {
  border: .5px solid transparent;
  background: var(--white);
  color: var(--black);
}



/* wheel section */

section.wheel {
  position: absolute;
  top: 55%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wheel-container {
  position: relative;
  margin-top: var(--s);
}

.pointer {
  position: absolute;
  top: calc(var(--s) * -1);
  left: 50%;
  transform: translateX(-50%);
  width: 1.5px;
  height: var(--n);
  background: var(--white);
  pointer-events: none;
  z-index: 20;
}

#wheel {
  width: 50dvh;
  height: 50dvh;
  border-radius: 50%;
  border: .5px solid var(--white);
  position: relative;
  transition: transform 4s ease-out;
  overflow: hidden;
  background: var(--white);
  cursor: grab;
}

#wheel:active {
  cursor: grabbing;
}

.slice {
  position: absolute;
  width: 50%;
  height: 50%;
  transform-origin: 100% 100%;
  clip-path: polygon(0 0, 78% 0, 100% 99.5%);
  background: var(--black);
}

.slice.selected span{
  color: var(--yellow);
}

.slice .text-wrapper {
  position: absolute;
  top: 25%;
  left: 59%;
}

.slice span {
  color: var(--white);
  transform-origin: center;
  pointer-events: none;
  position: absolute;
  right: 50%;
  transform: translate(50%, -50%) rotate(-30deg);
}



/* result section */

section.result-overlay {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  background: rgba(0,0,0,0.8);
}

.result-box {
  background: var(--white);
  color: var(--black);
  padding: var(--xl);
  text-align: center;
}

.result-box p {
  color: var(--black);
  margin: 0;
}

.result-box button {
  margin-top: 1.75rem;
  border: .5px solid var(--black);
  background: var(--white);
  color: var(--black);
}

.result-box button:hover {
  border: .5px solid transparent;
  background: var(--black);
  color: var(--white);
}



/* query section */

@media screen and (max-width: 991px) {
  section.input,
  section.wheel {
    width: calc(100dvw - (var(--xl) * 2));
  }

  #wheel {
    width: 80dvw;
    height: 80dvw;
  }
}

@media screen and (max-height: 991px) {
  section.input {
    top: var(--xxl);
  }

  #wheel {
    width: 50dvh;
    height: 50dvh;
  }
}

@media screen and (max-height: 660px) {
  section.wheel {
    top: 38dvh;
    transform: translate(50%, 0%);
  }
}

@media screen and (max-width: 600px) {
  input,
  label {
    height: var(--m);
    padding: 0 var(--xs);
  }

  section.input {
    top: calc(var(--xl) * 1.5);
    width: calc(100% - var(--xl));
  }

  .options-container {
    flex-direction: column;
  }

  input:not(#questionInput) {
    width: calc(100% - var(--n));
    border-right: none;
  }

  #wheel {
    width: calc(100dvw - (var(--xl) * 2));
    height: calc(100dvw - (var(--xl) * 2));
  }
}