:root {
  --black: #fff;
  --white: #000;

  --black-75: #ffffff75;
  --white-75: #00000075;

  --yellow: #b200ae;

  --xs: calc(var(--n) / 2);
  --s: calc(var(--n) - .35rem);
  --n: 1rem;
  --m: calc(var(--n) * 1.5);
  --l: calc(var(--n) * 1.75);
  --xl: calc(var(--n) * 2);
  --xxl: calc(var(--n) * 4);
  --xxxl: calc(var(--n) * 8);

  touch-action: manipulation;
}

:root:has(label.color input:checked) {
  --black: #000;
  --white: #fff;

  --black-75: #00000075;
  --white-75: #ffffff75;

  --yellow: #f2e313;
}

:root:has(label.color input:not(:checked)) section.logo svg {
  filter: invert(1);
}

:root:has(label.color input:not(:checked)) label:has(input:focus-visible)::before {
  filter: drop-shadow(0px 0px 4px var(--yellow));
}

:root:has(label.color input:checked) .slice,
:root:has(label.color input:not(:checked)) .slice {
  transition: none;
}

.preloader {
  position: fixed;
  inset: 0;
  background: #000000;
  z-index: 101;
  transition: all 0.5s ease;
  pointer-events: none;
}

.preloader.fade-out {
  background: #00000000;
}


/* start overlay */

#startAnimation {
  position: absolute;
  inset: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1.5s ease;
  will-change: opacity, transform;
  background-image: url(./preview.png);
  background-size: cover;
  background-position: center;
}

#startAnimation > * {
  width: 100dvw;
  height: 100dvh;
  object-fit: cover;
}

#skipBtn {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background: transparent;
  border: transparent;
  padding: 0;
  z-index: 105;
  transition: all 1.5s ease;
  will-change: opacity, transform;
}

#skipBtn .logo {
  position: relative;
  bottom: unset;
  right: unset;
  opacity: 1;
}

section.wheel {
  opacity: 1;
  z-index: 105;
  top: calc(50% - (clamp(.6rem, 1vw, .8rem) + .1rem) - var(--n));
  transition: all 1.5s ease;
}

section.wheel .slice {
  background-color: #00000000;
}

section.input,
section.logo,
section.wheel button,
section.wheel .pointer,
footer {
  transition: opacity 1.5s ease;
  opacity: 0;
}

body.hidden section.wheel {
  top: 55%;
  z-index: unset
}

body.hidden section.wheel .slice {
  background-color: var(--black);
}

body.hidden #skipBtn,
body.hidden #startAnimation {
  opacity: 0;
  pointer-events: none;
}

body.hidden section.input,
body.hidden section.logo,
body.hidden section.wheel button,
body.hidden section.wheel .pointer,
body.hidden section.wheel #wheel::before,
body.hidden footer {
  opacity: 1;
}



/* general*/

* {
  box-sizing: border-box;
  -webkit-appearance: none;
} 

html,
body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: var(--black);
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
}

.ui {
  position: absolute;
  inset: 0;
  padding:
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);
}

button,
input,
span,
p {
  font-family: 'NimbusMono-Regular', monospace;
  font-size: .9rem;
  font-size: clamp(.6rem, 1vw, .8rem);
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  background: transparent;
  color: var(--white);
}

section.input,
section.wheel,
section.result-overlay {
  filter: url(#distort);
}

.logo,
footer {
  position: absolute;
  bottom: var(--n);
  right: var(--n);
  height: clamp(15px, 1vw, 1rem);
  display: flex;
  align-items: center;
}

.logo svg {
  width: 100%;
  height: auto;
  fill: var(--white);
}

.logo {
  width: clamp(.8rem, 1vw, 1rem);
  z-index: 10;
  cursor: pointer;
}

footer p {
  margin: 0;
  opacity: 0;
}

body:has(.logo:hover) footer p {
  opacity: .5;
  margin-right: calc(clamp(.8rem, 1vw, 1rem) + .2rem);
}



/* input section */

section.input {
  position: absolute;
  top: var(--xxxl);
  right: 50%;
  width: 50%;
  transform: translate(50%, 0) !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: .125px solid var(--white-75);
  margin-right: 3px;
  border-bottom: none;
}

.options-container,
.label-container {
  width: 100%;
  display: flex;
}

input,
label {
  width: 100%;
  height: var(--xl);
  padding: 0 var(--n);
  border: none;
  border-bottom: .125px solid var(--white-75);
  outline: none;
}

label:has(input:focus-visible)::before {
  filter: drop-shadow(0px 0px 2px var(--white));
}

button:focus-visible {
  outline: none !important;
  box-shadow: 0 0 0 .125px var(--white-75);
}

input::placeholder {
  color: var(--white);
  opacity: .5;
}

input:not(#questionInput),
label {
  border-right: .125px solid var(--white-75);
}

.options-container > input:last-child,
label:last-child {
  border-right: none !important;
}

label {
  position: relative;
  padding: unset;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: .8rem;
  font-size: clamp(.8rem, 1vw, 1rem);
}

label input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

label.hide::before {
  content: "(˶ ᵕ ᴗ ᵕ)";
  color: var(--white);
}

label.hide:has(input:checked)::before{
  content: "(ᵕ • ᴗ •)";
}

label.color::before {
  content: "⊹˚.";
}

label.color input:checked + * {
  color: var(--black)
}

button {
  padding: var(--xs) var(--n);
  border: .125px solid var(--white-75);
  background: var(--black);
  cursor: pointer;
  z-index: 10;
}

button:hover {
  border: .125px solid transparent;
  background: var(--white);
  color: var(--black);
}



/* wheel section */

section.wheel {
  position: absolute;
  right: 50%;
  transform: translate(50%, -50%) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wheel-container {
  position: relative;
  margin-top: var(--s);
}

.pointer {
  position: absolute;
  top: calc(var(--s) * -1);
  left: 50%;
  transform: translateX(-50%);
  width: 1.5px;
  height: var(--n);
  background: var(--white);
  pointer-events: none;
  z-index: 20;
}

#wheel {
  width: 50dvh;
  height: 50dvh;
  border-radius: 50%;
  position: relative;
  transition: transform 4s ease-out;
  overflow: hidden;
  cursor: grab;
  touch-action: none;
}

#wheel::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--white);
  opacity: 0;
  transition: opacity 0.2s ease .2s;
}

#wheel:active {
  cursor: grabbing;
}

.slice {
  position: absolute;
  width: 50%;
  height: 50%;
  transform-origin: 100% 100%;
  clip-path: polygon(0 0, 78% 0, 100% 99.5%);
  clip-path: polygon(0 0, 78% 0, 99.9% 99.9%);
  clip-path: polygon(0 0, 78.35% 0, 100% 99.75%);
}

.slice.selected span{
  color: var(--yellow);
}

.slice .text-wrapper {
  position: absolute;
  top: 25%;
  left: 59%;
}

.slice span {
  color: var(--white);
  transform-origin: center;
  pointer-events: none;
  position: absolute;
  right: 50%;
  transform: translate(50%, -50%) rotate(-30deg);
}



/* result section */

section.result-overlay {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  background: var(--black-75);
  z-index: 101;
}

.result-box {
  background: var(--white);
  color: var(--black);
  padding: var(--xl);
  text-align: center;
}

.result-box p {
  color: var(--black);
  margin: 0;
}

.result-box button {
  margin-top: 1.75rem;
  border: .125px solid var(--black-75);
  background: var(--white);
  color: var(--black);
}

.result-box button:hover {
  border: .125px solid transparent;
  background: var(--black);
  color: var(--white);
}



/* chrome only*/

.chrome-only button,
.chrome-only input,
.chrome-only span,
.chrome-only p {
  font-size: calc(clamp(.6rem, 1vw, .8rem) + .1rem);
}

.chrome-only footer {
  align-items: end;
}



/* query section */

@media screen and (max-width: 991px) {
  section.input,
  section.wheel {
    width: calc(100dvw - (var(--xl) * 2));
  }

  #wheel {
    width: 80dvw;
    height: 80dvw;
  }
}

@media screen and (max-height: 991px) {
  section.input {
    top: var(--xxl);
  }

  #wheel {
    width: 50dvh;
    height: 50dvh;
  }
}

@media screen and (max-height: 660px) {
  body.hidden section.wheel {
    top: 38dvh;
    transform: translate(50%, 0%);
  }
}

@media screen and (max-width: 600px) {
  input,
  label {
    height: var(--m);
    padding: 0 var(--xs);
  }

  section.input {
    top: calc(var(--xl) * 1.5);
    width: calc(100% - var(--xl));
  }

  .options-container {
    flex-direction: column;
  }

  input:not(#questionInput) {
    border-right: none;
  }

  #wheel {
    width: calc(100dvw - (var(--xl) * 2));
    height: calc(100dvw - (var(--xl) * 2));
  }
}